:global body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 1em auto;
}

.head {
  display: flex;
  justify-content: space-around;
}
