.Search__searchInput___1YqBa {
  font-size: 1em;
}
.User__userBox___2svHY {
  list-style-type: none;
  display: inline-block;
  padding: 2em 1em;
  width: 20%;
  cursor: pointer;
}

.User__userBox___2svHY img {
  margin-bottom: 0.5em
}

.User__name___3le8p {
  text-transform: capitalize;
  font-weight: bold;
}

.User__info___1lrvM {
  font-size: 0.75em;
  text-transform: capitalize;
}
.Users__letter___1rNwD {
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid;
  width: 100%;
}
.Modal__overlay___23Cqf {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
}

.Modal__modal___tJyOh {
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 2em;
  margin: auto;
  text-transform: capitalize;
  box-shadow: 0 0 35px 5px #ccc;
  border-radius: 10px;
}
body {
  margin: 0;
  padding: 0;
}

.App__app___G_xfE {
  font-family: sans-serif;
  margin: 0 auto;
}

.App__container___1Fu4P {
  max-width: 1000px;
  margin: 1em auto;
}

.App__head___2wzM_ {
  display: flex;
  justify-content: space-around;
}
