.userBox {
  list-style-type: none;
  display: inline-block;
  padding: 2em 1em;
  width: 20%;
  cursor: pointer;
}

.userBox img {
  margin-bottom: 0.5em
}

.name {
  text-transform: capitalize;
  font-weight: bold;
}

.info {
  font-size: 0.75em;
  text-transform: capitalize;
}
